.overlay-enter {
  opacity: 0;
}
.overlay-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}
.overlay-exit {
  opacity: 1;
}
.overlay-exit-active {
  opacity: 0;
  transition: opacity 200ms ease-in;
}

.alert-enter {
  transform: scale(0.1);
  opacity: 0;
}
.alert-enter-active {
  opacity: 1;
  transform: scale(1);

  transition: 500ms ease-in;
}
.alert-exit {
  transform: scale(1);
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: scale(0.1);
  transition: 500ms ease-in;
}

.forms-enter {
  transform: translateX(-600px);
}
.forms-enter-active {
  transform: translateX(0px);
  transition: 200ms ease-in;
}
.forms-exit {
  transform: translateX(0px);
}
.forms-exit-active {
  transform: translateX(-600px);
  transition: 200ms ease-in;
}

.treeItem-enter {
  opacity: 0;
}
.treeItem-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.treeItem-exit {
  opacity: 1;
}
.treeItem-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
